<ul>
  <li><%= @event.title %></li>
  <li><%= @event.event_date %></li>
  <li><%= @event.category %></li>
  <li><%= @event.place %></li>
  <li><%= @event.venue %></li>
  <li><%= @event.cost %></li>
  <li><%= (@event.details).html_safe %></li>
</ul>
